* {
    background-color: #fff;
    margin: 0;
}

#top-left {
    position: fixed;
    top: 0;
    left: 0;
    background-color: limegreen;
    width: 45vw;
    height: 45vh;
    margin: 10px;
}

#top-right {
    position: fixed;
    top: 0;
    right: 0;
    background-color: red;
    width: 45vw;
    height: 45vh;
    margin: 10px;
}

#bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: yellow;
    width: 45vw;
    height: 45vh;
    margin: 10px;
}

#bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: blue;
    width: 45vw;
    height: 45vh;
    margin: 10px;
}

button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    border: 2px solid #000;
    padding: 7.5px 25px;
    background-color: #fff;
}

button:hover {
    background-color: #999;
}
