* {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

#main-container {
  display: inline;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main-container > div {
  height: 5.25vh;
  width: 100vw;
}

.playArea {
  background-color: red;
  color: #000;
  display: inline-block;
  width: 5.25vh;
  height: 5.25vh;
}

.snake {
  background-color: #fff;
}

.apple {
  background-color: limegreen;
}
